<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="library.css">
    <title>Library Checkout System</title>
</head>
<body>
    <h1 style="color:blue;">Welcome to the UMD Library Checkout System!</h1>

    <ul>
        <li>To Checkout a book select <a href="/checkout">Checkout</a></li>
        <li>To retrieve by a name select <a href="/retrievebyBookName">Review Application</a> </li>
        <li>To remove all Checkouts <a href="/removeall">Remove All Checkouts </a> </li>
        <li>To access QR code <a href="/qrcode">QR Code </a> </li>
    </ul>

    <hr>
</body>
</html>